# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log

# Secrets
.env
.env.*
*.pem
*.key

# Jenkins
*.log

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Java
target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
